extends ../layout

block content
    div(class="form")
        h2="Look up a specific file by id"
        label="Record ID: "
        input(
            id='id-input',
            type='text',
            name='id'
        )
        button(id="look-up")="Go"
        button(id="ajax-look-up")="Go with ajax"

    div(id='results')

    div
        each file in files
            h3= file.name
            li 
                b= 'id: ' 
                |#{file.id}
            li 
                b= 'path: ' 
                |#{file.path}
            li
                b= 'hash: '
                |#{file.hash}
            li
                b= 'url: '
                |#{file.url}